# 
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# 
.venv/
venv/
env/
.env

# 
.vscode/
.DS_Store
Thumbs.db

# 
experimentos/results/
dataset_sintetico/
.pytest_cache/

# 
drafts/
draft/
experimentos/

#
.ipynb_checkpoints/
ipynb_checkpoints/